.main_header{
    background: #f58a6f;
    width: 102%;
    height: 28px;
    box-shadow: 0px 5px 5px rgba(113, 113, 113, 0.52);
    position: fixed;
    z-index: 99;
}



.logo{
z-index: +3;
position: absolute;
left: 46%;
}
#main_top_pic{
    -webkit-filter: blur(2px); -moz-filter: blur(2px); -o-filter: blur(2px); -ms-filter: blur(2px); filter: blur(2px); 
    width: 100%;
}

.top_image{
    
    width: 100%;
    
    position: fixed;
    z-index: -3;
}
#notice_index{
    position: absolute;
    right: 34px;
}
.dropdown-menu{
    right: 0;
    left: inherit;
    top: 29px;
    border-radius: 3px;
}
#dropdownMenu1{
    position: absolute;
    right: 0px;
    width: 11px;
}
.caret{
    border-top: 5px solid #FFF;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    float: left;
    position: relative;
    right: -15px;
    top: -10px;
    
}
.slogan_text{

    position: fixed;
    top: 190px;
    left: 40%;
    font-size: xx-large;
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
}

.header_text{
   text-align: end;
    color:#3d3d3d;
    position:relative;
    right: 2%;
}

.header_text.a:link {
    color: white;
}
.search_block{
    background-color: rgba(245, 138, 111, 0.70);

    width: 100%;
    text-align: center;
    height: 79px;
}

.search_block_content{
    position: relative;
    top: 27px;
}

.main_content{
    background-image: url('/img/main_background.jpg');

    height:908px;
}
.big_card_main_content{
    background-image: url('/img/main_background.jpg');

    height:500px;
}
.main_bottom{
    background-color: #f58a6f;
    width: 100%;
    height: 250px;
}
.main_group_after_pic{
    position: absolute;
        top: 323px;
    width: 100%;
}
.blocks{

    height: 250px;
    width: 250px;
    float: left;
    margin: 23px;
    border-radius: 8px;
    text-align: -webkit-center;
    color: white;


}
.blocks:hover{
    -webkit-filter: brightness(25%);

}

.feature_img{

}

.feature_group{
    position: relative;
    float: left;
    
}
.feature_div{
    position: relative;
    background-position: center;
background-size: cover;
        height: 250px;
    width: 250px;
    float: left;
    margin: 23px;
    border-radius: 8px;
    text-align: -webkit-center;
    color: white;
cursor: pointer; 
}
.feature_div_hover{
    -webkit-filter: brightness(25%);

}
.feature_text{
z-index: +3;
position: absolute;
font-size: x-large;
    color:white;
left: 75px;
top: 75px;
    line-height: 109%;

}
.feature_group> .feature_text {
    display:none;
}

.feature_group:hover > .feature_text {
    display:block;
}
.feature_group:hover > .feature_div {
    -webkit-filter: brightness(25%);
}



.block_orange{
    background-color: #f58a6f;
}
.block_yellow{
    background-color: #e6db5e;
}
.block_grey{
    background-color: #3d3d3d;
}
.block_row{
clear: left;
}
.blcck_container{
width: 889px;

margin-left: auto;
margin-right: auto; 
}


#login_title{
top: 20px;
position: relative;
}
#login_logo{
    float:left;
}

#login_dot_line{
    border-bottom: 1px dotted #808080;
}

#login_top_div{
    height: 120px;
}

#login_main_text{
    border: 1px solid #000000;
    position: relative;
    top: 12px;
    border-radius: 3px;
    background-color: #dedede;
    padding: 6px;
}

#login_fb_title{
    background-color: #dedede;    
    border-bottom: 1px solid #808080;
    position: relative;
    top: 27px;
}

#facebook_login_form{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 203px;
    margin: auto;
    top: 46px;
}

#email_login{
    position: relative;
    top:55px;
    margin: auto;
    width: 251px;

}

#big_card_pic{
    width: 100%;
top: -50%;
position: fixed;
    z-index: -2;
}

.carousel-control{
    top:250px
}
.carousel-indicators
{
    top:50px
}

#big_card_bar{
    background-color: rgb(245, 138, 111);
    width: 100%;
    text-align: center;
    height: 79px;
    position: relative;
}

.big_card_bar_content{
    position: relative;
    top: 27px;
    font-size: xx-large;
    color: white;
}
.top_space_for_pic{
    height: 500px
}

.big_card_poster_profile_pic{
    border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
    background-position: center;
    background-size: cover;
    border: 3px solid white;
    width: 75px;
    height: 75px;
}
#bgi_card_poster_content{
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}
#big_card_poster_pic{
    width:90px;
    float: left;
}
#big_card_content{
    float: left;
    border: 2px solid #862800;
    width: 66%;
    height: 170px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    background-color: white;
    position: relative;
    left: 25px;
}

.big_card_content_text{
    margin: 19px;
    color: #862800;
}
#contact_poster_buttoms_div{
    width: 30px;
    float: left;

}
.big_card_contact_buttoms{
    width: 163px;
    height: 37px;
    margin: 7px;
    float: left;
    background-color: white;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    padding-top: 17px;
    /* padding-bottom: 7px; */
    /* padding-right: 7px; */
    padding-left: 24px;
    font-size: 132%;
    position: relative;
    left: 77%;
}

#big_card_event_detail{
    overflow: hidden;
    background-color: #f9faf7
}
.big_card_detail_column{
    width: 70%;
    margin-left: auto;
    margin-right: auto; 


}
.big_card_detail_item{
    margin-left: auto;
    margin-right: auto;
min-height: 100px;
overflow: hidden;
}

.big_card_detai_index{
    float:left;
    text-align: right;
}

.big_card_detai_properity{
    float:left;
}
.big_card_text{
    font-size: 140%;
    margin: 12px;
    left: 36%;
    position: relative;

}
.big_card_detail_header{
    color:#fc9094;
    font-size: 150%;
}

.big_card_line{
    width: 100%;
    border-bottom: 2px solid rgba(46, 46, 46, 0.54);
}
.big_card_header_space{
    height:50px;
}

#big_card_comment_div{
    background-image: url('/img/main_background.jpg');
    
    overflow: hidden;
    
}
.big_card_comment_row{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.big_card_comment{

}
.big_card_commeter_pic{
    width:90px;
    float:left;
    position: relative;
    top: 30px;
            
}

.big_card_comment_text{

    border: 2px solid #862800;
    width: 709px;
    height: 170px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    background-color: white;
    position: relative;
    left: 120px;

}
#big_card_content:before {
content: '';
display: block;
position: absolute;
top: 42px;

right: 100%;
width: 0;
height: 0;
border-color: transparent #862800 transparent transparent;
border-style: solid;
border-width: 25px;
}

#big_card_content:after {
content: '';
display: block;
position: absolute;
top: 45px;

right: 100%;
width: 0;
height: 0;
border-color: transparent #fff transparent transparent;
border-style: solid;
border-width: 22px;
}


.big_card_comment_text:before {
content: '';
display: block;
position: absolute;
top: 42px;

right: 100%;
width: 0;
height: 0;
border-color: transparent #862800 transparent transparent;
border-style: solid;
border-width: 25px;
}

.big_card_comment_text:after {
content: '';
display: block;
position: absolute;
top: 45px;

right: 100%;
width: 0;
height: 0;
border-color: transparent #fff transparent transparent;
border-style: solid;
border-width: 22px;
}

#connection_user{
    float:left;
}
#connection_poster{
    position: relative;
    left: 85%;
    width: 100px;
}

#big_card_connection{
    width: 60%;
    height: 168px;
    margin-left: auto;
    margin-right: auto;
}

#connection_status{
    float:left;
}